{{- $cover := .Site.Data.cover -}}
{{- $config := .Site.Data.config -}}
<section class="main" style="background-image:url('{{ .Site.BaseURL }}img/{{ $cover.backgroundImage }}')">
  <div class="container">
    <div>
      <div class="d-flex">
        <span class="font-weight-bold align-middle">
          <h3>{{- $config.name -}}</h3>
        </span>
      </div>
      <div class="flags">
        <a href="{{- .Site.BaseURL -}}fr">
          <img src="{{- .Site.BaseURL -}}fr.svg" alt="" class='flag'>
        </a>
        <a href="{{- .Site.BaseURL -}}en">
          <img src="{{- .Site.BaseURL -}}uk.svg" alt="" class='flag'>
        </a>
      </div>
      <h1 class="font-weight-bold">	{{ i18n "heading" }}</h1>
      <p>{{ i18n "description" -}}</p>

      {{- if $cover.showAppBanners -}}
      <div id="store-banners">
        <a target="_blank" href="{{- $config.appLinks.playStore -}}">
          <img src="{{- .Site.BaseURL -}}img/store-banners/playstore.svg" alt="">
        </a>
      </div>
      {{- end -}}
    </div>
    <div class="device-mockup-holder">
      <picture>
        <div class="phone-illustration-holder">
          <img src="{{- .Site.BaseURL -}}img/device-frame.svg" alt="">
          <div class="product-image">
            <img src="{{- .Site.BaseURL -}}img/screenshots/{{- $cover.screenshot -}}" alt="">
          </div>
        </div>
      </picture>
    </div>
  </div>
</section>
